* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  box-sizing: border-box;
  background-color: #1b1b1b;
}
.container {
  margin: 20px auto;
  max-width: 1024px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #292929;
  box-shadow: 10px 10px 40px 5px rgb(0, 0, 0);
}
.columns {
  display: flex;
}
.left-column {
  width: 42%;
  color: #505050;
  background-color: #292929;
}
.right-column {
  width: 58%;
  padding: 40px;
}
header {
  padding: 30px;
  text-align: center;
  background-color: #292929;
}
header img {
  max-width: 220px;
  max-height: 220px;
  margin-bottom: 10px;
  border: 3px solid #fff;
  border-radius: 50%;
}
header h1 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: rgba(255, 17, 0, 0.767);
}
header h2 {
  margin-bottom: 20px;
  letter-spacing: 2px;
}
main {
  padding: 0 40px;
}
h3 {
  flex: 1;
  vertical-align: middle;
  font-weight: 700;
  border-bottom: 2px solid #777;
  width: 136px;
  margin: 20px auto 20px;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 17, 0, 0.767);
}
main .contacts h3 {
  margin-top: 0;
  margin-bottom: 0;
  transform: translate(0, -50%);
}
main li {
  margin-bottom: 10px;
}
.contacts li img {
  vertical-align: middle;
  margin-right: 15px;
}
.contacts li p {
  display: inline;
  vertical-align: middle;
}
.contacts a {
  text-decoration: none;
  color: #505050;
}
main :not(.contacts) ul {
  list-style-type: disc;
  margin-left: 50px;
}
.language-name {
  font-weight: 700;
  text-transform: uppercase;
}
.right-column .subheader {
  display: flex;
  margin-top: 30px;
  margin-bottom: 15px;
}
.right-column .about-myself .subheader {
  margin-top: 0;
}
.about-myself p {
  margin-bottom: 10px;
  margin-left: 45px;
}
.about-myself p:last-of-type {
  margin-bottom: 0;
}
.right-column p {
  color: #777;
}
.education p {
  margin-left: 45px;
}
.education p strong {
  font-weight: 700;
}
.courses ul {
  list-style-type: disc;
  margin-left: 45px;
  margin-bottom: 30px;
}
.courses li {
  margin-bottom: 10px;
  color: #777;
}
.right-column img.score-img {
  display: block;
  margin: 0 auto;
}
figure a {
  text-decoration: none;
  color: #777;
}
figure a:visited {
  text-decoration: none;
  color: #777;
}
figure img {
  max-width: 300px;
}
.image {
  margin-top: 20px;
  width: 300px;
}
.code-example p {
  margin-left: 45px;
}
pre {
  margin-top: 20px;
  font-family: monospace;
  font-size: 0.9rem;
  background-color: #333333;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 0.8rem;
  color: #fff;
  background-color: #292929;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer .github-icon {
  margin-right: 10px;
}
.github {
  display: flex;
  align-items: center;
}
@media (max-width: 890px) {
  figure img {
    width: 300px;
  }
}
@media (max-width: 780px) {
  header,
  main,
  aside,
  footer {
    padding: 10px 30px;
  }
  pre {
    width: 100%;
  }
  pre code {
    font-size: 10px;
  }
}
@media (max-width: 660px) {
  figure img {
    width: 200px;
  }
  header img {
    width: 110px;
    height: 110px;
  }
  header h1 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 5px;
  }
  h3 {
    font-size: 1rem;
    font-weight: 500;
  }
}
